{% extends "admin/change_form.html" %}

{% block object-tools %}
{% if change %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% if show_certificate_button %}
        <li>
          <a href="{{ certificate_url }}" class="viewlink" target="_blank">
            <i class="fa fa-eye"></i> Ver Certificado
          </a>
        </li>
      {% endif %}
      {% if has_absolute_url %}
        <li>
          <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">
            {% translate "View on site" %}
          </a>
        </li>
      {% endif %}
    {% endblock %}
  </ul>
{% endif %}
{% endblock %}